<div class="thirty">
  <div class="container-description">
    <div class="description">
      <div>
        <img src="https://github.com/Gaston1905/portfolio/blob/master/images/Foto.jpg?raw=true"
          class="fotoID animate__animated animate__fadeIn">
      </div>
      <p class="name animate__animated animate__fadeInLeft">Full Stack Developer Jr.</p>
      <ul class="list actually animate__animated animate__fadeInRight">
        <li>Tesista de licenciatura en psicología UADER</li><br />
        <li>Docente auxiliar alumno en prácticas profesionales supervisadas en UADER</li><br />
        <li>Estudiante de licenciatura en política en UNER</li><br />
      </ul>
    </div>
  </div>
</div>

<div class="rectangle bg-gray skew-left"></div>

<div class="fourthy bg-gray">
  <div class="experience">
    <h2 class="animate__animated animate__fadeInLeft">EXPERIENCIA</h2>
    <p class="dateJobs1 animate__animated animate__fadeInRight">Febrero 2022 - Actualidad
    </p>
    <p class="nameJobs1 animate__animated animate__fadeInRight">Acompañamientos Personalizados • Ambulatorio • Cambio
      de Hábitos</p>
    <p class="dateJobs2 animate__animated animate__fadeInRight">Marzo 2020 - Actualidad</p>
    <p class="nameJobs2 animate__animated animate__fadeInRight">Diseñador gráfico • Entornos digitales • Freelance</p>
    <p class="dateJobs3 animate__animated animate__fadeInRight">Septiembre 2015 – marzo 2020</p>
    <p class="nameJobs3 animate__animated animate__fadeInRight"> Empleado • Encargado de limpieza • Farmacia Paraná
    </p>
  </div>
</div>

<div class="rectangle2 bg-gray skew-right"></div>

<div class="fifthy bg-gray">
  <div class="education ">
    <h2 class="animate__animated animate__fadeInLeft">EDUCACION</h2>
    <p class="nameSchool1 animate__animated animate__fadeInRight">E.M.M N° 443 José Manuel Estrada, Santo tomé, Santa
      Fe.
    </p>
    <p class="nameTitle1 animate__animated animate__fadeInRight">• Título Polimodal, modalidad de economía y gestión
      de
      las organizaciones</p>
    <p class="nameSchool2 animate__animated animate__fadeInRight">U.A.D.E.R.</p>
    <p class="nameTitle2 animate__animated animate__fadeInRight">• Licenciatura en Psicología (en curso)</p>
    <p class="nameSchool3 animate__animated animate__fadeInRight">U.N.E.R.</p>
    <p class="nameTitle3 animate__animated animate__fadeInRight"> •Licenciatura en Ciencias políticas (en curso)</p>
  </div>
</div>

<div class="rectangle3 bg-gray skew-left"></div>

<div class="sixthy">
  <h2>HABILIDADES</h2>
</div>
