.card {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

#background {
  background-image: url("https://github.com/Gaston1905/portfolio/blob/master/images/black-370118.png?raw=true");
  background-repeat: no-repeat;
}

.box {
  box-shadow: 0px 10px 10px black;
}
