<div class="container bg-dark-disabled-color border-top border_white d-inline-flex p-2 bd-highlight">
  <div class="row d-flex justify-content-spacely">

    <div class="col-4 ps-5 ">
      <div clas="d-grid gap-3">
        <div class="flex-grow-2">
          <img src="https://github.com/Gaston1905/portfolio/blob/master/images/Foto.png?raw=true" class="img-thumbnail "
            alt="Foto de Perfil">
        </div>
      </div>
    </div>
    <div class="col-8">
      <div clas="d-grid gap-3 ps-1">
        <div class="flex-shrink-1">
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label"></label>
            <textarea class="form-control" id="exampleFormControlTextarea1"
              rows="3">Breve decripción acerca de tí...</textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-9 p-4">
      <div clas="d-grid gap-3">
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label"></label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label"></label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
      </div>
    </div>





  </div>
</div>

<div class="container bg-light border-top border_white border-bottom border_dark pt-5">
  <div class="row pt-5 mt-5">
    <div class="col-sm-6 col-md-5 col-lg-6 align-self-center">
      <p class=" text-start text-lg-start text-end fs-1 ms-5">EXPERIENCIA</p>
    </div>
    <div class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0 pb-5 justify-content-between">
      <p class=" text-start text-lg-start text-end fs-4  ">Febrero 2022 - Actualidad</p>
      <p class=" text-start text-lg-start text-end fs-2  mt-1">Acompañamientos Personalizados • Ambulatorio •
        Cambio
        de Hábitos</p>
      <p class=" text-start text-lg-start text-end fs-4  mt-2">Marzo 2020 - Actualidad</p>
      <p class=" text-start text-lg-start text-end fs-2  mt-1">Diseñador gráfico • Entornos digitales •
        Freelance</p>
      <p class=" text-start text-lg-start text-end fs-4  mt-2">Septiembre 2015 – marzo 2020</p>
      <p class=" text-start text-lg-start text-end fs-2  mt-1">Empleado • Encargado de limpieza • Farmacia
        Paraná</p>
    </div>
  </div>
</div>

<div class="container bg-light border-top border_white border-bottom border_dark pt-5">
  <div class="row pt-5 mt-5">
    <div class="col-sm-6 col-md-5 col-lg-6 align-self-center">
      <p class=" text-start text-lg-start text-end fs-1 ms-5">EDUCACION</p>
    </div>
    <div class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0 pb-5 justify-content-between">
      <p class=" text-start text-lg-start text-end fs-4  ">Febrero 2022 - Actualidad</p>
      <p class=" text-start text-lg-start text-end fs-2  mt-1">Acompañamientos Personalizados • Ambulatorio •
        Cambio
        de Hábitos</p>
      <p class=" text-start text-lg-start text-end fs-4  mt-2">Marzo 2020 - Actualidad</p>
      <p class=" text-start text-lg-start text-end fs-2  mt-1">Diseñador gráfico • Entornos digitales •
        Freelance</p>
      <p class=" text-start text-lg-start text-end fs-4  mt-2">Septiembre 2015 – marzo 2020</p>
      <p class=" text-start text-lg-start text-end fs-2  mt-1">Empleado • Encargado de limpieza • Farmacia
        Paraná</p>
    </div>
  </div>

  <div class="container-fluid d-inline-flex p-2 bd-highlight">
    <div class="container">
      <p class="text-center fs-1">HABILIDADES</p>
      <p class="text-center fs-2">Tecnológicas</p>
      <div class="d-flex justify-content-evenly">
        <p class="text-center fs-4">HTML5</p>
        <p class="text-center fs-4">CSS3</p>
        <p class="text-center fs-4">JavaScript</p>
      </div>
      <div class="d-flex justify-content-evenly">

      </div>
      <div class="d-flex justify-content-evenly">
        <p class="text-center fs-4">Bootstrap</p>
        <p class="text-center fs-4">Angular</p>
        <p class="text-center fs-4">MySql</p>
      </div>
      <div class="d-flex justify-content-evenly">

      </div>
      <div class="d-flex justify-content-evenly">
        <p class="text-center fs-4">TypeScript</p>
        <p class="text-center fs-4">Java</p>
        <p class="text-center fs-4">AdobeCloud</p>
      </div>
      <div class="d-flex justify-content-evenly">

      </div>
      <p class="text-center fs-2">Blandas</p>
      <div class="d-flex justify-content-evenly">
        <p class="text-center fs-4">Comunicación</p>
        <p class="text-center fs-4">Escucha</p>
        <p class="text-center fs-4">Empatía</p>
      </div>
      <div class="d-flex justify-content-evenly">

      </div>
      <p class="text-center fs-2">Idiomas</p>
      <p class="text-center fs-4">Español</p>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
          aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
      </div>
      <p class="text-center fs-4">Inglés</p>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
          aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
      </div>



    </div>
