h2,
h3,
hr {
  color: #0e77bb;
}

.container {
  margin-top: -3rem;
  margin-bottom: -3rem;
}

#main-container {
  box-shadow: 5px 0 30px 4px rgba(0, 0, 0, 0.55);
}


#description {
  padding: 5px;
  margin-bottom: 3.5rem;
  background-color: #0e77bb;
  box-shadow: 0 7px 15px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0 7px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 7px 15px 0px rgba(0, 0, 0, 0.75);
}

@media (max-width: 343px) {
  #description {
    font-size: 1em! important;
  }
}

@media (max-width: 285px) {
  #description {
    font-size: .75em! important;
  }
}

@media (max-width: 246px) {
  #description {
    font-size: .60em! important;
  }
}

.img-thumbnail {

  box-shadow: 0 7px 30px 0px rgba(0, 0, 0, 0.75), 0 8px 20px 0px rgba(255, 252, 252, 0.837);
  -webkit-box-shadow: 0 7px 30px 0px rgba(0, 0, 0, 0.75), 0 8px 20px 0px rgba(255, 252, 252, 0.837);
  -moz-box-shadow: 0 7px 30px 0px rgba(0, 0, 0, 0.75), 0 8px 20px 0px rgba(255, 252, 252, 0.837);
}

.rectangle {
  color:rgb(225, 222, 222);
  height: 100px;
  backdrop-filter: blur(1px);
  box-shadow: 5px 0 30px 4px rgba(0, 0, 0, 0.55);
  -webkit-box-shadow: 5px 0 30px 4px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 5px 0 30px 4px rgba(0, 0, 0, 0.55);
}

#rectangle2 {
  backdrop-filter: blur(2px);
  height: 100px;
  box-shadow: 0 5px 30px 3px rgba(0, 0, 0, 0.50);
  -webkit-box-shadow: 0 5px 30px 3px rgba(0, 0, 0, 0.50);
  -moz-box-shadow: 0 5px 30px 3px rgba(0, 0, 0, 0.50);
}


#acomodo {
  margin-top: -3rem;
  background-color: rgb(225, 222, 222);
}



#edit-descripcion {
  margin-top: -3rem;
  padding-bottom: 3rem;
}

@media (max-width: 326px) {
  #description {
    font-size: 1rem;
  }
}

hr {
  width: 45.5%;
}
