h2,
h3 {
  color: #0e77bb;
}

.container {
  margin-top: -3rem;
  margin-bottom: -3rem;
}

#description {
  padding: 5px;
  margin-bottom: 3.5rem;
  background-color: #0e77bb;
  box-shadow: 4px 7px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 4px 7px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 7px 5px 0px rgba(0, 0, 0, 0.75);
}

.img-thumbnail {
  -webkit-filter: grayscale(100%);
  -webkit-filter: grayscale(1);
  filter: grayscale(100%);
  filter: gray;
  box-shadow: 4px 7px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 4px 7px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 7px 5px 0px rgba(0, 0, 0, 0.75);
}

.img-thumbnail:hover {
  -webkit-filter: none;
  -webkit-filter: none;
  filter: none;
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  opacity: 1;
}

.rectangle {
  height: 100px;
  margin-top: 0px;
  transform: skewY(-4deg);
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.75);
}

.rectangle2 {
  height: 100px;
  margin-top: -4.75rem;
  transform: skewY(4deg);
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.75);
}

#acomodo {
  margin-top: -3rem;
  background-color: rgb(225, 222, 222);
}

.bg-gray {
  background-color: rgb(225, 222, 222);
}

#edit-descripcion {
  margin-top: -3rem;
  padding-bottom: 3rem;
}

@media (max-width: 326px) {
  #description {
    font-size: 1rem;
  }
}
