h2,
h3,
hr {
  color: #0e77bb;
}

.container {
  margin-top: -3rem;
  margin-bottom: -3rem;
}

#main-container {
  box-shadow: -5px 0 30px 4px rgba(0, 0, 0, 0.75);
}


#description {
  padding: 5px;
  margin-bottom: 3.5rem;
  background-color: #0e77bb;
  box-shadow: 0 7px 30px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0 7px 30px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 7px 30px 0px rgba(0, 0, 0, 0.75);
}

.img-thumbnail {

  box-shadow: 0 7px 30px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0 7px 30px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 7px 30px 0px rgba(0, 0, 0, 0.75);
}

.rectangle {
  color:rgb(225, 222, 222);
  backdrop-filter: blur(10px);
  height: 100px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.75);
}

.rectangle2 {
  height: 100px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.75);
}

#acomodo {
  margin-top: -3rem;
  background-color: rgb(225, 222, 222);
}

.bg-gray {
  background-color: rgb(225, 222, 222);
}

#edit-descripcion {
  margin-top: -3rem;
  padding-bottom: 3rem;
}

@media (max-width: 326px) {
  #description {
    font-size: 1rem;
  }
}

hr {
  width: 45.5%;
}
