<div class="container mx-auto bg-gray">
  <div class="row">
    <div class=" col-md-3 offset-md-3" id="acomodo">
      <h2 class="text-dark " id="titulo">Proyectos</h2>
    </div>


    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card ">
          <img src="https://github.com/Gaston1905/portfolio/blob/master/images/proyecto1.png?raw=true"
            class="card-img-top" alt="...">
          <div class="card-body text-white bg-dark">
            <h3 class="card-title text-white bg-dark mb-3">Porfolio Web</h3>
            <p class="text-white bg-dark mb-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui corrupti
              molestias aspernatur. Aperiam quae fuga quos, eius magni repudiandae nihil ipsum animi vel reiciendis
              natus
              ea culpa exercitationem aliquam id?</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="https://github.com/Gaston1905/portfolio/blob/master/images/proyecto1.png?raw=true"
            class="card-img-top" alt="...">
          <div class="card-body  bg-dark ">
            <h3 class="card-title text-white bg-dark mb-3">Lista de Tareas</h3>
            <p class="card-text text-white bg-dark mb-3">This is a longer card with supporting text below as a natural
              lead-in
              to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="rectangle bg-gray mb-5"></div>
