<div class="row">
  <h2 class="text-white">PROYECTOS</h2>

  <div class="col-sm-8 col-md-8 col-lg-7">
    <div class="container-fluid">
      <img src="https://github.com/Gaston1905/portfolio/blob/master/images/proyecto1.png?raw=true"
        class="img-fluid rounded-3">
    </div>
  </div>

  <div class="col-sm-8 col-md-8 col-lg-4">
    <h1 class="text-white">Porfolio Web</h1>
    <p class="justify-content-start rounded-3 p-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
      nemo
      laborum
      mollitia, nulla
      fugiat est libero maxime laboriosam excepturi aut tempore eveniet iste ipsum, deleniti incidunt quas dolorum
      blanditiis maiores.</p>
  </div>



  <div class="container pt-5"></div>

  <div class="col-sm-8 col-md-8 col-lg-4 ">
    <h1 class="text-white">Lista de Tareas</h1>
    <p class="justify-content-start rounded-3 p-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
      nemo
      laborum
      mollitia, nulla
      fugiat est libero maxime laboriosam excepturi aut tempore eveniet iste ipsum, deleniti incidunt quas dolorum
      blanditiis maiores.</p>
  </div>

  <div class="col-sm-8 col-md-8 col-lg-8 ">
    <div class="container-fluid">
      <img src="https://github.com/Gaston1905/portfolio/blob/master/images/proyecto1.png?raw=true"
        class="img-fluid rounded-3">
    </div>
  </div>
</div>
