<div class="container">
  <div class="row" id="acomodo">
    <div class="col-md-3 offset-md-5">
      <h2 class="text-white " id="titulo">Educación</h2>
    </div>

    <div class="offset-lg-2 col-lg-10 pt-5 text-center" data-aos="fade-left" data-aos-offset="200" data-aos-delay="50"
      data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false"
      data-aos-anchor-placement="top-center" *ngFor="let educacion of educaciones">
      <ul>
        <li>
          <h2 class="text-white">{{educacion.nombreEdu}}</h2> - <h3>
            {{educacion.fechaEdu}}
          </h3>
        </li>
        <p class="text-white">{{educacion.tituloEdu}}</p>
      </ul>

    </div>
  </div>
</div>