<div class="row">
  <h2 class="pb-2 border-bottom text-white">
    EXPERIENCIA</h2>
  <div class="col-lg-1"></div>
  <div class="col-lg-11">
    <ul>
      <li>
        <h2 class="text-white">Acompañamientos Personalizados • Ambulatorio • Cambio de Hábitos</h2> - <h3>(years)</h3>
      </li>
      <p class="text-white">Febrero 2022 - Actualidad
        Acompañamientos Personalizados • Ambulatorio • Cambio de Hábitos</p>
    </ul>
    <ul>
      <li>
        <h2 class="text-white">Acompañamientos Personalizados • Ambulatorio • Cambio de Hábitos</h2> - <h3>(years)</h3>
      </li>
      <p class="text-white">Febrero 2022 - Actualidad
        Acompañamientos Personalizados • Ambulatorio • Cambio de Hábitos</p>
    </ul>
    <ul>
      <li>
        <h2 class="text-white">Acompañamientos Personalizados • Ambulatorio • Cambio de Hábitos</h2> - <h3>(years)</h3>
      </li>
      <p class="text-white">Febrero 2022 - Actualidad
        Acompañamientos Personalizados • Ambulatorio • Cambio de Hábitos</p>
    </ul>
  </div>
</div>
