<div class="container pt-5">
  <div class="row agradecimiento pt-5">
    <p class="font2 text-center">Gracias por tu visita</p>
  </div>


  <div class="contacto">
    <p class="w-25 mx-auto text-center pb-4">Pongamonos en contacto!<br />
      Si tenes alguna duda o deseas saber algo más de mi podes hacer click en el siguiente botón y llenar el
      formulario.<br />
      Voy a hacer todo lo
      posible por contestar
    </p>
    <button type="button" class="btn btn-outline-secondary btn-lg px-4" id="link-animado">Contactame</button>
  </div>
  <div class="row">
    <footer>
      <p>Gaitan Gaston | @Argentina Programa 2022</p>
      <p>Entre Ríos, Paraná, Argentina</p>
    </footer>
  </div>
</div>