.row {
  padding-top: 25px;
}
footer {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.btn {
  color: #0e77bb;
  border: solid 1px #0e77bb;
}

.contacto {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
