<div class="container pt-5">
  <div class="row agradecimiento pt-5">
    <p class="font2 text-center">Gracias por tu visita</p>
  </div>


  <div class="contacto">
    <p class="w-25 mx-auto text-center pb-4">Pongamonos en contacto!<br />
      Si tenes alguna duda o deseas saber algo más de mi podes hacer click en el siguiente botón y llenar el
      formulario.<br />
      Voy a hacer todo lo
      posible por contestar
    </p>
    <button type="button" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
      aria-controls="collapseExample" class="btn btn-outline-secondary btn-lg px-4"
      id="link-animado">Contactame</button>

    <div class="collapse" id="collapseExample" data-bs-dismiss="button">
      <ul class="navbar-nav ml-auto d-flex flex-row bd-highlight align-items-center">
        <li class=" nav-item active ms-1 me-1">
          <a class="nav-link" id="link-animado" href="https://www.linkedin.com/in/gaston-gaitan-1a3799205/"><img
              src="https://github.com/Gaston1905/portfolio/blob/master/images/imgIN.png?raw=true"></a>
        </li>
        <li class="nav-item active ms-1 me-1">
          <a class="nav-link active" id="link-animado" href="https://www.instagram.com/pitu_gaitan/"><img
              src="https://github.com/Gaston1905/portfolio/blob/master/images/imgIG.png?raw=true"></a>
        </li>
        <li class="nav-item active ms-1 me-1">
          <a class="nav-link active" id="link-animado" href="https://github.com/Gaston1905"><img
              src="https://github.com/Gaston1905/portfolio/blob/master/images/imgGIT.png?raw=true"></a>
        </li>
        <li class="nav-item active ms-1 me-3">
          <a class="nav-link active" id="link-animado" href="https://www.facebook.com/pitu.pitu.7982/"><img
              src="https://github.com/Gaston1905/portfolio/blob/master/images/imgFB.png?raw=true"></a>
        </li>
      </ul>
    </div>

  </div>
  <div class="row">
    <footer>
      <p>Gaitan Gaston | @Argentina Programa 2022</p>
      <p>Entre Ríos, Paraná, Argentina</p>
    </footer>
  </div>
</div>