li {
  list-style-type: none;
}

btn-sm {
  padding: 1px;
}

#indice {
  position: relative;
  text-decoration: none;
  display: inline-block;
  color: #0e77bb;
  padding: 0 1px;
  transition: color ease 0.3s;

  &::before,
  &::after {
    content: "";
    position: absolute;
    background-color: #0e77bb;
    z-index: -1;
    height: 2px;
  }

  &::before {
    width: 0%;
    left: 0;
    bottom: 0;
    transition: width ease 0.4s;
  }

  &::after {
    width: 100%;
    left: 0;
    bottom: 0;
    transition: all ease 0.6s;
  }

  &:hover {
    &::before {
      width: 100%;
    }

    &::after {
      left: 100%;
      width: 0%;
      transition: all ease 0.2s;
    }
  }
}

.navbar {
  backdrop-filter: blur(10px);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
  width: 100%;
}

.new-nav {
  position: sticky;
  top: 0;
}
