
<div class="main-container">
  <nav class="navbar rounded-3">
    <div class="container-fluid" id="array-container">
      <a class="navbar-brand d-flex align-items-center gap-2" href="#" >
        <img src="../../../assets/Sin-título-2.png" alt=""
          width="20" height="40" class="d-inline-block align-text-top" id="img-front">
        <span id="name-front">GASTON GAITAN</span>
      </a>

      <ul class=" navbar-nav d-flex flex-row bd-highlight align-items-center" id="btn-social-media">
        <li class=" nav-item active ms-3 me-1">
          <a class="nav-link" id="link-animado" href="https://www.linkedin.com/in/gaston-gaitan-1a3799205/"><img
              src="../../../assets/linkedin.png"></a>
        </li>
        <li class="nav-item active ms-1 me-1">
          <a class="nav-link active" id="link-animado" href="https://www.instagram.com/pitu_gaitan/"><img
              src="../../../assets/instagram.png"></a>
        </li>
        <li class="nav-item active ms-1 me-1">
          <a class="nav-link active" id="link-animado" href="https://github.com/Gaston1905"><img
              src="../../../assets/github.png"></a>
        </li>
        <li class="nav-item active ms-1">
          <a class="nav-link active" id="link-animado" href="https://www.facebook.com/pitu.pitu.7982/"><img
              src="../../../assets/facebook.png"></a>
        </li>

        <button type="button" class="btn btn-info btn-sm ms-4" onclick="document.documentElement.classList.toggle('dark-mode')" id="btn-style"><img src="assets/sun.png" alt="" width="25" id="img-sun"><img src="assets/moon.png" alt="" width="25" id="img-moon"></button>

        <!-----------------LOGIN------------------------>
 <!----   <li *ngIf="!isloged()" class="nav-item" id="btn-login">
          <a data-bs-toggle="modal" data-bs-target="#myModal" class="nav-link active"
            class="btn tooltips btn-primary btn-sm" data-placement="top" data-toggle="tooltip"
            data-original-title="Edit">
            <fa-icon [icon]="faUserLock">
            </fa-icon>
          </a>
        </li>
        <li *ngIf="isloged()" class="nav-item">
          <a (click)="handleClear()" (click)="autenticacionService.logoutUser()" class="nav-link active"
            class="btn tooltips btn-danger btn-sm"><i class="fa-solid fa-arrow-right-from-bracket"></i>
            <fa-icon [icon]="faLockOpen">
            </fa-icon>
          </a>
        </li>->
        <!------------------------------------------------>
      </ul>

    </div>

  </nav>

</div>


<!------------------------- Login modal-------------------->
<div class="modal fade bd-example-modal-lg" id="myModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="border-radius: 20px">
      <div class="modal-header">
        <h5 class="modal-title">Login</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form" class="m-5" (ngSubmit)="onEnviar($event)">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email</label>
            <input formControlName="email" [ngClass]="{
                'is-invalid': Email?.errors && Email?.touched,
                'is-valid': !Email?.errors && Email?.touched
              }" type="email" class="form-control" id="exampleFormControlInput1" placeholder="email" autocomplete="off"
              required />
            <div *ngIf="Email?.errors && Email?.touched">
              <p *ngIf="Email?.hasError('required')" class="text-danger">
                El email es requerido
              </p>
              <p *ngIf="Email?.hasError('email')" class="text-danger">
                El formato del email debe ser valido
              </p>
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Contraseña</label>
            <input [ngClass]="{
                'is-invalid': Password?.errors && Password?.touched,
                'is-valid': !Password?.errors && Password?.touched
              }" formControlName="password" type="password" class="form-control" id="exampleInputPassword1"
              placeholder="password" autocomplete="off" required />
            <div *ngIf="Password?.errors && Password?.touched">
              <p *ngIf="Password?.hasError('required')" style="color: black" class="text-danger">
                El password es requerido
              </p>
            </div>
          </div>
          <button id="btnCerrar" type="submit" class="btn btn-primary" data-bs-dismiss="modal">
            Enviar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
