@media (max-width: 464px) {
  #array-container {
    display: flex;
    justify-content: center;
  }
}

btn-sm {
  padding: 1px;
}

.navbar {
  backdrop-filter: blur(3px);
  box-shadow: -5px 0 30px 4px rgba(0, 0, 0, 0.55);
  -webkit-box-shadow: -5px 0 30px 4px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: -5px 0 30px 4px rgba(0, 0, 0, 0.55);
}
