<header>
  <nav class="navbar navbar-light bg-dark-disabled-color border-bottom border-white">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="https://github.com/Gaston1905/portfolio/blob/master/images/APLogo-20-20.png?raw=true" alt=""
          width="30" height="24" class="d-inline-block align-text-top">
        <span class=text-light>Argentina Programa</span>
      </a>
      <ul class="navbar-nav ml-auto d-flex flex-row-reverse bd-highlight">
        <app-button class="btn btn-sm" color="{{showlogin ? 'red' : 'lightblue'}}"
          text="{{showlogin ? 'Logout' : 'Login'}}" (click)="toggleLogin()" (click)="wPopup()"></app-button>
        <app-login display="{{wpopup ? 'block' : 'none'}}"></app-login>
        <li class=" nav-item active ms-1 me-1">
          <a class="nav-link" href="https://www.linkedin.com/in/gaston-gaitan-1a3799205/"><img
              src="https://github.com/Gaston1905/portfolio/blob/master/images/imgIN.png?raw=true" class="logoIn"></a>
        </li>
        <li class="nav-item active ms-1 me-1">
          <a class="nav-link active" href="https://www.instagram.com/pitu_gaitan/"><img
              src="https://github.com/Gaston1905/portfolio/blob/master/images/imgIG.png?raw=true" class="logoIg"></a>
        </li>
        <li class="nav-item active ms-1 me-1">
          <a class="nav-link active" href="https://github.com/Gaston1905"><img
              src="https://github.com/Gaston1905/portfolio/blob/master/images/imgGIT.png?raw=true"
              class="logoGithub"></a>
        </li>
        <li class="nav-item active ms-1 me-1">
          <a class="nav-link active" href="https://www.facebook.com/pitu.pitu.7982/"><img
              src="https://github.com/Gaston1905/portfolio/blob/master/images/imgFB.png?raw=true" class="logoFb"></a>
        </li>

      </ul>
    </div>

  </nav>



</header>
