<header>
  <div class="principal">
    <img src="https://github.com/Gaston1905/portfolio/blob/master/images/logoArgprog.png?raw=true" class="logoArgProg">
    <div class="container-contact-login">
      <div class="contact-login">
        <app-button class="btn" color="rgb(225, 222, 222)" text="Login" (btnClick)="toggleLogin()"></app-button>
        <ul class="btn-social">
          <li><a href="https://www.linkedin.com/in/gaston-gaitan-1a3799205/"><img
                src="https://github.com/Gaston1905/portfolio/blob/master/images/imgIN.png?raw=true" class="logoIn"></a>
          </li>
          <li><a href="https://www.instagram.com/pitu_gaitan/"><img
                src="https://github.com/Gaston1905/portfolio/blob/master/images/imgIG.png?raw=true" class="logoIg"></a>
          </li>
          <li><a href="https://github.com/Gaston1905"><img
                src="https://github.com/Gaston1905/portfolio/blob/master/images/imgGIT.png?raw=true"
                class="logoGithub"></a>
          </li>
          <li><a href="https://www.facebook.com/pitu.pitu.7982/"><img
                src="https://github.com/Gaston1905/portfolio/blob/master/images/imgFB.png?raw=true" class="logoFb"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="secondary">
    <img src="https://github.com/Gaston1905/portfolio/blob/master/images/2.jpg?raw=true" class="banner">
  </div>

  <div class="thirty">
    <div class="container-description">
      <div class="description">
        <div>
          <img src="https://github.com/Gaston1905/portfolio/blob/master/images/Foto.jpg?raw=true"
            class="fotoID animate__animated animate__fadeIn">
        </div>
        <p class="name animate__animated animate__fadeInLeft">Full Stack Developer Jr.</p>
        <ul class="actually animate__animated animate__fadeInRight">
          <li>Tesista de Licenciatura en Psicología en UADER</li>
          <li>Docente Auxiliar Alumno en Prácticas Profesionales Supervisadas: Grupo, Organización, Institución y
            Comunidad en UADER</li>
          <li>Estudiante de Licenciatura en Ciencias Políticas</li>
        </ul>
      </div>
    </div>
  </div>


</header>
