<app-navbar></app-navbar>

<div id="main-container data-aos">
  <div class="container py-4 mt-5">

    <h2 class="fs-1 pt-1 font-monospace fw-bold mb-1">PROYECTOS</h2>
    <h4 class="fst-italic">A continuación podrás encontrar los proyectos en los que he trabajado</h4>
    <hr>

    <div class="album py-5 ">
      <div class="container">

        <div class="row">
          <div class="col-md-6" *ngFor="let project of projects">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" height="310" data-src="{{project.picPro}}" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">{{project.titlePro}}</p>
                <p class="card-text">{{project.descPro}}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="{{project.linkPro}}" class="btn btn-sm btn-outline-secondary">REPOSITORIO</a>
                    <button type="button" class="btn btn-sm btn-outline-secondary">WEB</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>