<div class="rectangle mb-5 rounded" id="rectangle"></div>
<div id="main-container">
  <div class="container py-4" >

      <h2 class="fs-1 pt-1 font-monospace fw-bold">PROYECTOS</h2>
      <hr>

      <div>
        <div *ngIf="isloged()" class="text-center">
          <button type="button" class="btn btn-success btn-sm" (click)="onOpenModal('add')"><a class="nav-link" style="color: aliceblue">Añadir Projecto<span class="sr-only"> (current)</span></a>
          </button>
        </div>
      </div>


      <div class="carousel-container">
        <div *ngFor="let project of projects; let i = index">

          <img alt=""
          src="{{project.picPro}}"
          [ngClass]="{'image-active': selectedIndex === i}"
          class="fade"
          >

          <div *ngIf="indicators" class="carousel-dot-container">
            <span *ngFor="let dot of projects; let i = index"
            class="dot"
            [ngClass]="{'active' : selectedIndex === i }"
            (click)="selectImage(i)"
            >
          </span>
        </div>

        <button *ngIf="controls" class="btn-carousel btn-prev"
        (click)="onPrevClick()"
        >
        <i class="fas fa-arrow-circle-left icon-carousel icon-prev"></i>
      </button>
      <button *ngIf="controls" class="btn-carousel btn-next"
      (click)="onNextClick()"
      >
      <i class="fas fa-arrow-circle-right icon-carousel icon-next"></i>
    </button>

    <a *ngIf="isloged()"
    (click)="onOpenModal('edit', project)"
    class="btn text-primary tooltips "
    data-placement="top"
    data-toggle="tooltip"
    data-original-title="edit">
    <fa-icon [icon]="faPenToSquare"></fa-icon>
  </a>
  <a *ngIf="isloged()"
  (click)="onOpenModal('delete', project)"
          class="btn text-danger  tooltips"
          data-placement="top"
          data-toggle="tooltip"
          data-original-title="delete">
          <fa-icon [icon]="faXmarkCircle"></fa-icon>
        </a>
      </div>
    </div>

    <div class="carousel-container mt-3 p-2 font-monospace">
      <div *ngFor="let project of projects; let i = index">
        <h3 class="card-title fade" id="description" [ngClass]="{'image-active' : selectedIndex === i }">{{project.titlePro}}</h3>
        <p class="card-text fade" id="description" [ngClass]="{'image-active' : selectedIndex === i }">{{project.descPro}}</p>
        <span class="d-flex flex-row justify-content-center gap-2">
        <button type="button" class="btn btn-sm btn-outline-secondary fade" id="btn-link"  [ngClass]="{'image-active' : selectedIndex === i }"><a class="nav-link" href="{{project.linkPro}}"><img src="../../../assets/github.png" id="link-animado" width="30" class="ms-2">GITHUB</a></button>
      </span>
      </div>
    </div>




    <!-------------MODAL AÑADIR------------>

  <div class="modal fade" id="addProjectModal" tabindex="-1" role="dialog" aria-labelledby="addProjectModalLabel"
    aria-hidden="true">

    | <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addProjectModalLabel"> Añadir Proyecto</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddProject(addForm)">

            <div class="form-group">
              <label for="titlePro"> Título del Proyecto</label>
              <input type="text" ngModel name="titlePro" class="form-control" id="titlePro"
                placeholder="Título del Proyecto" required />
            </div>

            <div class="form-group">
              <label for="descPro"> Descripción del proyecto</label>
              <input type="text" ngModel name="descPro" class="form-control" id="descPro"
                placeholder="Descripción del proyecto" required />
            </div>

            <div class="form-group">
              <label for="linkPro"> Link del proyecto</label>
              <input type="text" ngModel name="linkPro" class="form-control" id="linkPro" placeholder="Link del proyecto"
                required />
            </div>

            <div class="form-group">
              <label for="picPro"> Imagen del proyecto</label>
              <input type="text" ngModel name="picPro" class="form-control" id="picPro" placeholder="Imagen del proyecto"
                required />
            </div>

            <div class="modal-footer">
              <button type="button" id="add-project-form" class="btn btn-secondary" data-dismiss="modal">
                Cerrar
              </button>
              <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">
                Añadir Cambios
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>




  <!-------------MODAL EDITAR------------>

  <div class="modal fade" id="editProjectModal" tabindex="-1" role="dialog" aria-labelledby="projectEditModalLabel"
    aria-hidden="true">

    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="projectEditModalLabel">
            Editar Proyecto {{ editProject?.titlePro }}
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <form #editForm="ngForm">

            <div class="form-group">
              <label for="titlePro">Título del proyecto</label>
              <input type="text" ngModel="{{ editProject?.titlePro }}" name="titlePro" class="form-control" id="titlePro"
                placeholder="Título del proyecto" />
            </div>

            <div class="form-group">
              <label for="descPro">Descripción del proyecto</label>
              <input type="text" ngModel="{{ editProject?.descPro }}" name="descPro" class="form-control" id="descPro"
                placeholder="Descripción del proyecto" />
            </div>

            <input type="hidden" ngModel="{{ editProject?.idPro }}" name="idPro" class="form-control" id="idPro"
              placeholder="" />

            <div class="form-group">
              <label for="linkPro">Link del Proyecto</label>
              <input type="text" ngModel="{{ editProject?.linkPro }}" name="linkPro" class="form-control" id="linkPro"
                placeholder="Link del Proyecto" />
            </div>


            <div class="form-group">
              <label for="picPro">Imagen del Proyecto</label>
              <input type="text" ngModel="{{ editProject?.picPro }}" name="picPro" class="form-control" id="picPro"
                placeholder="Imagen del Proyecto" />
            </div>

            <div class="modal-footer">
              <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">
                Cerrar
              </button>
              <button (click)="onUpdateProject(editForm.value)" data-dismiss="modal" class="btn btn-primary">
                Salvar Cambios
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <!-------------MODAL ELIMINAR------------>

  <div data-bs-toggle="modal" data-bs-target="#deleteModelLabel" class="modal fade" id="deleteProjectModal" tabindex="-1"
    role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">

    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModelLabel">Eliminar Proyecto</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <p>
            ¿Quiere eliminar este Proyecto?
            {{ deleteProject?.titlePro }}
          </p>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            No
          </button>
          <button (click)="onDeleteProject(deleteProject!.idPro)" class="btn btn-danger" data-dismiss="modal">
            Si
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>





