<div class="container mx-auto">
  <div class="row" id="principio">
    <div class="col-md-3 offset-md-3">
      <h2 class="text-white " id="titulo">Hard & Soft Skills</h2>
    </div>

    <div class="row">
      <div class=" text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="85" [radius]="90" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
          [outerStrokeColor]="'#0e77bb'" [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="600">
        </circle-progress>
      </div>
      <div class=" text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="85" [radius]="90" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
          [outerStrokeColor]="'#0e77bb'" [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="600">
        </circle-progress>
      </div>
      <div class=" text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="85" [radius]="90" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
          [outerStrokeColor]="'#0e77bb'" [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="600">
        </circle-progress>
      </div>
      <div class=" text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="85" [radius]="90" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
          [outerStrokeColor]="'#0e77bb'" [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="600">
        </circle-progress>
      </div>
      <div class=" text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="85" [radius]="90" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
          [outerStrokeColor]="'#0e77bb'" [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="600">
        </circle-progress>
      </div>
      <div class=" text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="85" [radius]="90" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
          [outerStrokeColor]="'#0e77bb'" [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="600">
        </circle-progress>
      </div>
      <div class=" text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="85" [radius]="90" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
          [outerStrokeColor]="'#0e77bb'" [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="600">
        </circle-progress>
      </div>
      <div class=" text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="85" [radius]="90" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
          [outerStrokeColor]="'#0e77bb'" [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="600">
        </circle-progress>
      </div>
      <div class=" text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="85" [radius]="90" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
          [outerStrokeColor]="'#0e77bb'" [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="600">
        </circle-progress>
      </div>
    </div>
  </div>
</div>
