#principio {
  padding: 300px 20px 0 20px;
}
.row {
  padding: 50px 0 150px 0;
}

#titulo {
  font-size: 26px;
}

#titulo::after {
  background-color: rgb(225, 222, 222);
  content: "";
  display: block;
  position: relative;
  top: -5px;
  width: 120px;
  height: 1px;
  margin-top: -10px;
  margin-left: 225px;
}
