<div class="rectangle bg-gray"></div>
<div class="container mx-auto" id="acomodo">

  <div class="row" id="principio">
    <div class="col-md-3 offset-md-3 mt-5">
      <h2 class="text-dark mt-5" id="titulo">Hard & Soft Skills</h2>
    </div>

    <div class="row">
      <div class=" text-center col-sm-4 col-md-4 col-lg-4" data-aos="zoom-in" data-aos-offset="200" data-aos-delay="50"
        data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false"
        data-aos-anchor-placement="top-center">
        <circle-progress [percent]="85" [radius]="90" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
          [outerStrokeColor]="'#0e77bb'" [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="600"
          [title]="'false'" [subtitle]="'false'" [imageSrc]="'../assets/html.png'" [showImage]="true" [imageHeight]="70"
          [imageWidth]="70" class="prueba">
        </circle-progress>
      </div>
      <div class=" text-center col-sm-4 col-md-4 col-lg-4" data-aos="zoom-in" data-aos-offset="200" data-aos-delay="50"
        data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false"
        data-aos-anchor-placement="top-center">
        <circle-progress [percent]="85" [radius]="90" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
          [outerStrokeColor]="'#0e77bb'" [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="600"
          [title]="'false'" [subtitle]="'false'" [imageSrc]="'../assets/CSS.png'" [showImage]="true" [imageHeight]="70"
          [imageWidth]="70">
        </circle-progress>
      </div>
      <div class=" text-center col-sm-4 col-md-4 col-lg-4" data-aos="zoom-in" data-aos-offset="200" data-aos-delay="50"
        data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false"
        data-aos-anchor-placement="top-center">
        <circle-progress [percent]="85" [radius]="90" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
          [outerStrokeColor]="'#0e77bb'" [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="600"
          [title]="'false'" [subtitle]="'false'" [imageSrc]="'../assets/js.png'" [showImage]="true" [imageHeight]="70"
          [imageWidth]="70">
        </circle-progress>
      </div>
      <div class=" text-center col-sm-4 col-md-4 col-lg-4" data-aos="zoom-in" data-aos-offset="200" data-aos-delay="50"
        data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false"
        data-aos-anchor-placement="top-center">
        <circle-progress [percent]="85" [radius]="90" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
          [outerStrokeColor]="'#0e77bb'" [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="600"
          [title]="'false'" [subtitle]="'false'" [imageSrc]="'../assets/bootstrap.png'" [showImage]="true"
          [imageHeight]="120" [imageWidth]="120">
        </circle-progress>
      </div>
      <div class=" text-center col-sm-4 col-md-4 col-lg-4" data-aos="zoom-in" data-aos-offset="200" data-aos-delay="50"
        data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false"
        data-aos-anchor-placement="top-center">
        <circle-progress [percent]="85" [radius]="90" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
          [outerStrokeColor]="'#0e77bb'" [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="600"
          [title]="'false'" [subtitle]="'false'" [imageSrc]="'../assets/angular.png'" [showImage]="true"
          [imageHeight]="70" [imageWidth]="70">
        </circle-progress>
      </div>
      <div class=" text-center col-sm-4 col-md-4 col-lg-4" data-aos="zoom-in" data-aos-offset="200" data-aos-delay="50"
        data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false"
        data-aos-anchor-placement="top-center">
        <circle-progress [percent]="85" [radius]="90" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
          [outerStrokeColor]="'#0e77bb'" [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="600"
          [title]="'false'" [subtitle]="'false'" [imageSrc]="'../assets/mysql.png'" [showImage]="true"
          [imageHeight]="70" [imageWidth]="70">
        </circle-progress>
      </div>
      <div class=" text-center col-sm-4 col-md-4 col-lg-4" data-aos="zoom-in" data-aos-offset="200" data-aos-delay="50"
        data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false"
        data-aos-anchor-placement="top-center">
        <circle-progress [percent]="85" [radius]="90" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
          [outerStrokeColor]="'#0e77bb'" [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="600"
          [title]="'false'" [subtitle]="'false'" [imageSrc]="'../assets/html.png'" [showImage]="true" [imageHeight]="70"
          [imageWidth]="70">
        </circle-progress>
      </div>
      <div class=" text-center col-sm-4 col-md-4 col-lg-4" data-aos="zoom-in" data-aos-offset="200" data-aos-delay="50"
        data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false"
        data-aos-anchor-placement="top-center">
        <circle-progress [percent]="85" [radius]="90" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
          [outerStrokeColor]="'#0e77bb'" [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="600"
          [title]="'false'" [subtitle]="'false'" [imageSrc]="'../assets/html.png'" [showImage]="true" [imageHeight]="70"
          [imageWidth]="70">
        </circle-progress>
      </div>
      <div class=" text-center col-sm-4 col-md-4 col-lg-4  " data-aos="zoom-in" data-aos-offset="200"
        data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true"
        data-aos-once="false" data-aos-anchor-placement="top-center">
        <circle-progress [percent]="85" [radius]="90" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
          [outerStrokeColor]="'#0e77bb'" [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="600"
          [title]="'false'" [subtitle]="'false'" [imageSrc]="'../assets/html.png'" [showImage]="true" [imageHeight]="70"
          [imageWidth]="70">
        </circle-progress>
      </div>
    </div>
  </div>
</div>
