a,
a:link,
a:active {
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: #0e77bb;
}

.btn {
  font-weight: 600;
  height: 28px;
  width: 138px;
  background-color: #0e77bb;
  color: #ffffff;
}

button .p {
  font-size: 12px;
}
