

<header class="container-fluid" id="main-container" *ngIf="showLoading">

  <div class=" container col-xxl-8">
    <div class="row flex-lg-row-reverse align-items-center g-5" id="center-max-width">

      <div class="col-10 col-sm-8 col-lg-6" id="min-whidt-center">
        <img src="../../../assets/Sin-título-2.png"
          class="d-block mx-lg-auto img-fluid" alt="Foto de Portada" id="img-front" loading="lazy">
      </div>

      <div class="col-lg-6 d-flex flex-column align-items-center">


        <h1 class="display-5 fw-bold mb-3 celeste" id="shadow">GASTON GAITAN</h1>

        <p class="lead display-5 fw-bold me-4" id="text-shadow">Desarrollador Web Full Stack</p>

      </div>

    </div>
  </div>
</header>
