<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>portfolio</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <div class="header">


    <img src="https://github.com/Gaston1905/portfolio/blob/master/images/logoArgprog.png?raw=true"
      alt="Logo Argentina Programa" id="logoArgProg">
    <img src="https://github.com/Gaston1905/portfolio/blob/master/images/pngegg.png?raw=true" alt="Logo Github"
      id="logoGithub">
    <img src="https://github.com/Gaston1905/portfolio/blob/master/images/img_ig.png?raw=true" alt="Logo Instagram"
      id="logoIg">
    <img src="https://github.com/Gaston1905/portfolio/blob/master/images/img_fb.png?raw=true" alt="Logo Facebook"
      id="logoFb">
    <img src="https://github.com/Gaston1905/portfolio/blob/master/images/img_in.png?raw=true" alt="Logo Linkedin"
      id="logoIn">
    <button type="button" id="login">LOGIN</button>

    <img src="https://github.com/Gaston1905/portfolio/blob/master/images/2.jpg?raw=true" alt="Banner" id="banner">




  </div>

  <div class="rectangle bg-white skew-left"></div>
  <div class="about">

    <img src="https://github.com/Gaston1905/portfolio/blob/master/images/Foto.jpg?raw=true" alt="FotoID" id="fotoID">


    <div id="name">Full stack developer Jr.</div>

    <div id="sintesis">
      <li>Tesista de Licenciatura en Psicología en UADER</li>
      <li>Docente Auxiliar Alumno en cátedra de prácticas psicológicas supervisadas: grupo, organización, institución
        y
        comunidad en UADER</li>
      <li>Estudiante de Licenciatura en Ciencias Políticas en UNER
    </div>

  </div>

  <div class="rectangle2 bg-gray skew-right"></div>



  <div class="experience bg-gray">
    <h1 class="titleExp">
      <div class="experience">Experiencia</div>
    </h1>
    <p class="date">Febrero 2022 - Actualidad</p>
    <p class="jobs">Acompañamientos Personalizados • Ambulatorio • Cambio de Hábitos</p>
    <p class="date">Marzo 2020 - Actualidad</p>
    <p class="jobs">Diseñador gráfico • Entornos digitales • Freelance</p>
    <p class="date">Septiembre 2015 – marzo 2020</p>
    <p class="jobs">Empleado • Encargado de limpieza • Farmacia Paraná</p>
  </div>

  <div class="education bg-gray">
    <h1 class="titleEducation1">Educación</h1>
    <p class="dateEducation">E.M.M N° 443 José Manuel Estrada, Santo tomé, Santa Fe</p>
    <p class="institution">• Título Polimodal, modalidad de economía y gestión de las organizaciones</p>
    <p class="dateEducation">UADER, Paraná, Entre Ríos</p>
    <p class="institution">• Licenciatura en Psicología (Cursando Actualmente)</p>
    <p class="dateEducation">UNER, Paraná, Entre Ríos</p>
    <p class="institution">• Licenciatura en Ciencias Políticas (Cursando Actualmente)</p>

    <div class="education bg-gray"></div>
    <h1 class="formation">Espacios de Formación académica</h1>
    <p class="course">• La interpretación en psicoanálisis (2.014). Paraná – UADER</p>
    <p class="explication">Asistente en el seminario desarrollado los días 30 de octubre, 6, 13 y 20 de noviembre de
      2014, durante 2 horas reloj
      cada encuentro.</p>
    <p class="course">• 8vas Jornadas Provinciales en Salud Mental y Derechos Humanos (2016). Paraná – UADER.</p>
    <p class="explication">Asistente a las jornadas llevadas a cabo el día 9 de septiembre y el día 16 de septiembre.
      Declaradas de interés
      institucional por la Universidad Autónoma de Entre Ríos-UADER [Resolución 182/16] Declaradas de interés
      institucional
      para la Promoción de derechos por la Sub Secretaria de Derechos Humanos de la Provincia de Entre Ríos [Resolución
      001/16]. Con un equivalente a 13(trece) horas reloj.</p>
    <p class="course">• I Congreso Internacional de Psicoanálisis (2016). Rosario – UNR, Carrera de Psicología.</p>
    <p class="explication">Asistente al congreso realizado los días 27, 28 y 29 de octubre de 2016. El mismo ha sido
      declarado de interés académico
      por la Universidad Nacional de Rosario, según Res. 1377/2016, de interés académico por la facultad de psicología,
      según
      Res. 438/2016, de interés provincial por la cámara de diputados de la provincia de santa fe, de interés municipal,
      según
      decreto N° 46.767, y de interés educativo por el ministerio de educación, según Res. N° 14.422.</p>
    <p class="course">• Reanimación cardiopulmonar - RPC (2018). Paraná.</p>
    <p class="explication">Asistente al curso de reanimación cardiopulmonar (RCP) con una duración de 3 Hs. brindado por
      la Cruz Roja Argentina
      (filial Paraná).</p>
    <p class="course">• Cátedra abierta: Psicoanálisis, Política y Salud Mental (2019). Paraná, FHAyCS|UADER.</p>
    <p class="explication">Asistente al evento. Declarado de Interés institucional en el marco de las acciones de
      secretaria de extensión
      universitaria y derechos humanos durante el año académico 2019, y aprobado por resolución n° 2241/2019 CD. Total
      de 2
      horas cátedras</p>
    <p class="course">• Argentina programa: #Se programar (2021). Ministerio de desarrollo productivo de la Nación
      Argentina.</p>
    <p class="explication">Asistente al curso de programación. Dictado en plataforma virtual que consto de 3 (tres)
      módulos: nociones básicas de
      programación, lenguaje imperativo (JS) y POO (Ruby). Por un total de tiempo de 3 (tres) meses.</p>
    <p class="course">• Géneros e inclusión (2022). Secretaria de Innovación Pública – Jefatura de gabinete de
      ministros.</p>
    <p class="explication">Curso aprobado de 30 (treinta) horas de duración y compuesto por los siguientes cursos:
      Perspectiva de género y
      violencias; Introducción al abordaje sobre masculinidades y violencia de género; Herramientas para incorporar el
      lenguaje inclusivo en nuestra comunicación diaria.</p>
    <p class="course">• Argentina programa: #Yo programo (2022). Ministerio de desarrollo productivo de la Nación
      Argentina.</p>
    <p class="explication">Actualmente en curso. Certificación de desarrollador full stack jr. Con conocimiento de front
      end (HTML5, CSS,
      Bootstrap, TypeScript, JavaScripts), desarrollador API (Angular), y desarrollador backend (MySql).</p>

  </div>
  <div class="skills bg-gray"></div>
  <div class="projects bg-gray"></div>
  <div class="rectangle bg-lightblue skew-left"></div>
  <div class="footer bg-lightblue"></div>
</body>

</html>
