/* Header */
.header {
  background-color: #399ed2;
  display: grid;
  grid-template-columns: [prueba] 25px [first] 100px [line2] auto [prueba4] 50px [prueba3] 5px [line3] 80px [col4-start] 50px [five] 100px [prueba2] 20px [six] 30px [end];
  grid-template-rows: [row1-start] 65px [row1-end] 30px [third-line] 20% [prueba-line] 20% [last-line] 20% [prueba4-line] 20% [prueba2-line] 20% [prueba3-line];
}

#logoArgProg {
  width: 120px;
  grid-column-start: first;
  grid-column-end: first;
  grid-row-start: row1-start;
  grid-row-end: row1-start;
}

#logoGithub {
  width: 28px;
  align-self: center;
  grid-column-start: prueba4;
  grid-column-end: prueba3;
  grid-row-start: row1-start;
  grid-row-end: row1-start;
}

#logoIg {
  width: 28px;
  align-self: center;
  grid-column-start: prueba3;
  grid-column-end: line3;
  grid-row-start: row1-start;
  grid-row-end: row1-start;
}

#logoFb {
  width: 120px;
  align-self: center;
  grid-column-start: line3;
  grid-column-end: col4-start;
  grid-row-start: row1-start;
  grid-row-end: row1-start;
}

#logoIn {
  width: 40px;
  align-self: center;
  grid-column-start: col4-start;
  grid-column-end: five;
  grid-row-start: row1-start;
  grid-row-end: row1-start;
}

#login {
  background-color: rgb(225, 222, 222);
  border: solid 2px white;
  border-radius: 15%;
  align-self: center;
  grid-column-start: five;
  grid-column-end: prueba2;
  grid-row-start: row1-start;
  grid-row-end: row1-end;
}

#banner {
  width: 100%;
  height: 480px;
  border: solid 2px white;
  grid-column-start: first;
  grid-column-end: six;
  grid-row-start: row1-end;
  grid-row-end: tirdh-line;
}

/* About */

.about {
  display: inline-grid;
  grid-template-columns: [principal] 50px [first] 150px [line2] 30% [line3] 40% [col4-start] 150px [five] 250px [end];
  grid-template-rows: [row1-start] 15px [row1-end] 30% [third-line] 1px [last-line];
}

#fotoID {
  width: 220px;
  border: solid 5px #399ed2;
  grid-column-start: line2;
  grid-column-end: col4-start;
  grid-row-start: row1-end;
  grid-row-end: third-line;
}

#name {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 80px;
  font-weight: bold;
  transform: skewY(4deg);
  justify-self: baseline;
  justify-self: center;
  grid-column-start: principal;
  grid-column-end: col4-start;
  grid-row-start: end;
  grid-row-end: finish;
}

.about #sintesis {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  grid-column-start: line3;
  grid-column-end: five;
  grid-row-start: row1-start;
  grid-row-end: third-line;
  text-align: initial;
  justify-content: center;
  width: 500px;
  height: 350px;
  font-size: 16px;
  font-weight: lighter;
  line-height: 40px;
}

.experience {
  width: 100%;
  margin-top: -55px;
  padding-top: 70px;
}

.education {
  width: 100%;
  margin-top: -55px;
  padding-top: 70px;
}

.skills {
}

.projects {
}

/* footer */

.footer {
  margin-top: 0px;
  padding-top: 300px;
}

.rectangle {
  width: 100%;
  height: 60px;
  margin-top: -37px;
}

.rectangle2 {
  height: 100px;
  margin-top: -95px;
}

.bg-white {
  background-color: white;
}

.bg-gray {
  background-color: rgb(225, 222, 222);
}

.bg-lightblue {
  background-color: #399ed2;
}

.skew-left {
  transform: skewY(-2.1deg);
}

.skew-right {
  transform: skewY(4deg);
}
