<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>portfolio</title>
</head>

<body>
  <div class="header">


    <img src="https://github.com/Gaston1905/portfolio/blob/master/images/logoArgprog.png?raw=true"
      alt="Logo Argentina Programa" id="logoArgProg">
    <img src="https://github.com/Gaston1905/portfolio/blob/master/images/pngegg.png?raw=true" alt="Logo Github"
      id="logoGithub">
    <img src="https://github.com/Gaston1905/portfolio/blob/master/images/img_ig.png?raw=true" alt="Logo Instagram"
      id="logoIg">
    <img src="https://github.com/Gaston1905/portfolio/blob/master/images/img_fb.png?raw=true" alt="Logo Facebook"
      id="logoFb">
    <img src="https://github.com/Gaston1905/portfolio/blob/master/images/img_in.png?raw=true" alt="Logo Linkedin"
      id="logoIn">
    <button type="button" id="login">LOGIN</button>

    <img src="https://github.com/Gaston1905/portfolio/blob/master/images/2.jpg?raw=true" alt="Banner" id="banner">

    <img src="https://github.com/Gaston1905/portfolio/blob/master/images/Foto.jpg?raw=true" alt="FotoID" id="fotoID">



  </div>

  <div class="rectangle bg-white skew-left"></div>


  <div class="about">

    <div id="name">Full stack developer Jr.</div>

    <div id="sintesis">
      <li>Tesista de Licenciatura en Psicología en UADER</li>
      <li>Docente Auxiliar Alumno en cátedra de prácticas psicológicas supervisadas: grupo, organización, institución
        y
        comunidad en UADER</li>
      <li>Estudiante de Licenciatura en Ciencias Políticas en UNER
    </div>

  </div>

  <div class="rectangle2 bg-gray skew-right"></div>



  <div class="experience bg-gray">
    <h1 class="titleExp">
      <div class="experience">Experiencia</div>
    </h1>
    <p class="date">Febrero 2022 - Actualidad</p>
    <p class="jobs">Acompañamientos Personalizados • Ambulatorio • Cambio de Hábitos</p>
    <p class="date">Marzo 2020 - Actualidad</p>
    <p class="jobs">Diseñador gráfico • Entornos digitales • Freelance</p>
    <p class="date">Septiembre 2015 – marzo 2020</p>
    <p class="jobs">Empleado • Encargado de limpieza • Farmacia Paraná</p>
  </div>

  <div class="education bg-gray">
    <h1 class="titleEducation1">Formación</h1>
    <p class="dateEducation">E.M.M N° 443 José Manuel Estrada, Santo tomé, Santa Fe</p>
    <p class="institution">• Título Polimodal, modalidad de economía y gestión de las organizaciones</p>
    <p class="dateEducation">UADER, Paraná, Entre Ríos</p>
    <p class="institution">• Licenciatura en Psicología (Cursando Actualmente)</p>
    <p class="dateEducation">UNER, Paraná, Entre Ríos</p>
    <p class="institution">• Licenciatura en Ciencias Políticas (Cursando Actualmente)</p>

  </div>
  <div class="skills bg-gray"></div>
  <div class="projects bg-gray"></div>
  <div class="footer bg-gray"></div>
</body>

</html>
