/* Header */
.header {
  display: grid;
  grid-template-columns: [prueba] 25px [first] 100px [line2] auto [prueba4] 50px [prueba3] 5px [line3] 80px [col4-start] 50px [five] 100px [prueba2] 20px [six] 30px [end];
  grid-template-rows: [row1-start] 65px [row1-end] 30px [third-line] 360px [prueba-line] 10px [last-line] 30px [prueba4-line] 50px [prueba2-line] 10px [prueba3-line];
  background-image: url("https://github.com/Gaston1905/portfolio/blob/master/images/markers/Rectangle%201.png?raw=true");
  background-repeat: no-repeat;
}

#logoArgProg {
  width: 120px;
  grid-column-start: first;
  grid-column-end: first;
  grid-row-start: row1-start;
  grid-row-end: row1-start;
}

#logoGithub {
  width: 28px;
  align-self: center;
  grid-column-start: prueba4;
  grid-column-end: prueba3;
  grid-row-start: row1-start;
  grid-row-end: row1-start;
}

#logoIg {
  width: 28px;
  align-self: center;
  grid-column-start: prueba3;
  grid-column-end: line3;
  grid-row-start: row1-start;
  grid-row-end: row1-start;
}

#logoFb {
  width: 120px;
  align-self: center;
  grid-column-start: line3;
  grid-column-end: col4-start;
  grid-row-start: row1-start;
  grid-row-end: row1-start;
}

#logoIn {
  width: 40px;
  align-self: center;
  grid-column-start: col4-start;
  grid-column-end: five;
  grid-row-start: row1-start;
  grid-row-end: row1-start;
}

#login {
  background-color: rgb(225, 222, 222);
  border: solid 2px #399ed2;
  border-radius: 15%;
  align-self: center;
  grid-column-start: five;
  grid-column-end: prueba2;
  grid-row-start: row1-start;
  grid-row-end: row1-end;
}

#banner {
  width: 100%;
  height: 480px;
  border: solid 2px #399ed2;
  grid-column-start: first;
  grid-column-end: six;
  grid-row-start: row1-end;
  grid-row-end: tirdh-line;
}

#fotoID {
  width: 220px;
  grid-column-start: line2;
  grid-column-end: prueba4;
  grid-row-start: prueba-line;
  grid-row-end: last-line;
}

#name {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: bold;
  grid-column-start: line2;
  grid-column-end: prueba4;
  grid-row-start: last-line;
  grid-row-end: prueba2-line;
}

#title {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  grid-column-start: line2;
  grid-column-end: prueba4;
  grid-row-start: prueba2-line;
  grid-row-end: prueba3-line;
}

#sintesis {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  grid-column-start: line2;
  grid-column-end: six;
  grid-row-start: prueba2-line;
  grid-row-end: prueba3-line;
}
