<div class="container px-4 py-5" id="featured-3">
  <h2 class="pb-2 border-bottom text-white">ACERCA DE MI...</h2>
  <div class="d-flex p-2 bd-highlight justify-content-center">
    <img mat-card-image src="https://github.com/Gaston1905/portfolio/blob/master/images/Foto.png?raw=true"
      class="img-fluid rounded-circle flex-row bd-highlight mb-3 d-flex w-25 ">
    <div class="btn-edit "><a href="#" class="btn-right">
        <fa-icon [icon]="faPenToSquare"></fa-icon>
      </a></div>
  </div>

  <div class=" row g-4 py-5 row-cols-1 row-cols-lg-3">

    <div class="feature col">
      <div class="feature-icon bg-primary bg-gradient">
        <svg class="bi" width="1em" height="1em">
          <use xlink:href="#collection" />
        </svg>
      </div>
      <h2 class="text-white">Tesista</h2>
      <p class="text-white">Tesista en la Licenciatura en Psicología de la Facultad de Humanidades Artes y
        Ciencias
        Sociales,
        perteneciente a la Universidad Autónoma de Entre Ríos</p>
      <a href="#" class="icon-link">
        Call to action
        <svg class="bi" width="1em" height="1em">
          <use xlink:href="#chevron-right" />
        </svg>
      </a>
    </div>
    <div class="feature col">
      <div class="feature-icon bg-primary bg-gradient">
        <svg class="bi" width="1em" height="1em">
          <use xlink:href="#people-circle" />
        </svg>
      </div>
      <h2 class="text-white">Docente Auxiliar Alumno</h2>
      <p class="text-white">Docente auxiliar alumno en la cátedra Práctica Psicologicas Supervisadas: Grupo,
        Organización, Institución
        y Comunidad en la Licenciatura en Psicología de la Facultad de Humanidades Artes y Ciencias
        Sociales,
        perteneciente a la Universidad Autónoma de Entre Ríos</p>
      <a href="#" class="icon-link">
        Call to action
        <svg class="bi" width="1em" height="1em">
          <use xlink:href="#chevron-right" />
        </svg>
      </a>
    </div>
    <div class="feature col">
      <div class="feature-icon bg-primary bg-gradient">
        <svg class="bi" width="1em" height="1em">
          <use xlink:href="#toggles2" />
        </svg>
      </div>
      <h2 class="text-white">Estudiante</h2>
      <p class="text-white">Estudiante de Licenciatura en Ciencias Políticas en la Facultad de Trabajo Social
        perteneciente a la Universidad Nacional de Entre Ríos</p>
      <a href="#" class="icon-link">
        Call to action
        <svg class="bi" width="1em" height="1em">
          <use xlink:href="#chevron-right" />
        </svg>
      </a>
    </div>
  </div>
</div>
