<div class="rectangle2 bg-gray"></div>
<div class="container bg-gray p-5">
  <div class="row pt-5">
    <div class="col-md-3 offset-md-3">
      <h2 class="fs-1" id="titulo">Sobre Mi</h2>
    </div>
  </div>

  <div class="row" id="epigrafe">
    <div class="col-sm-8 col-md-8 col-lg-5 offset-md-1 pt-1">
      <img mat-card-image src="https://github.com/Gaston1905/portfolio/blob/master/images/Foto.png?raw=true"
        class="img-thumbnail w-100">
      <div class="btn-edit text-end fa-xl mt-2"><a href="#" class="btn-right">
          <fa-icon [icon]="faPenToSquare"></fa-icon>
        </a></div>

    </div>
    <div class="col-sm-8 col-md-8 col-lg-6  pt-1" id="posicion-epigrafe">
      <h3 class="fs-3">Tesista | A.D.A. | Estudiante</h3>
    </div>
  </div>



  <div class="col-sm-8 col-md-8 col-lg-6 offset-md-5 rounded-3" id="descripcion">
    <p class="text-white fs-5">Tesista de la Licenciatura en psicología y me desempeño como Docente Auxiliar
      Alumno de Prácticas Psicológicas Supervisadas en la Licenciatura en
      Psicología de la Facultad de Humanidades, Artes y Ciencias Sociales en la Universidad Autónoma de Entre Ríos.</p>
    <p class="text-white fs-5">Estudiante de la Licenciatura en Ciencias Políticas de la Factultad de Trabajo Social
      en la Universidad Nacional de Entre Ríos.</p>
  </div>
  <div class="btn-edit text-end fa-xl col-sm-8 col-md-8 col-lg-6 offset-md-5" id="edit-descripcion"><a href="#"
      class="btn-right">
      <fa-icon [icon]="faPenToSquare"></fa-icon>
    </a></div>

</div>
<div class="rectangle bg-gray "></div>
