<div class="card text-center">
  <div class="card-header text-white fs-4">
    <p class="mt-3">LOGIN</p>
  </div>
  <div class="card-body p-3">

    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
        [(ngModel)]="usuario.email">
      <label for="floatingInput">Email </label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
        [(ngModel)]="usuario.password">
      <label for="floatingPassword">Password</label>
    </div>

    <div class="text-center">
      <button class="btn btn-primary btn-block  m-2 " (click)="Ingresar()">Ingresar</button>
    </div>
    <div class="text-center">
      <button class="btn btn-primary btn-block  m-2 " (click)="logout()">Logout</button>
    </div>


  </div>
