@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
}

.font2 {
  font-family: "Rock Salt", cursive;
  font-family: "Satisfy", cursive;
}

#video_background {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  z-index: -100;

  background-size: cover;

  filter: opacity(0.24);
  }




/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
