<div class="pt-5" id="main-container">
  <div class="container py-4 ">
    <h2 class="fs-1 mx-auto font-monospace" id="title">EXPERIENCIA</h2>
    <hr>

    <div data-aos="fade-up" data-aos-offset="25" data-aos-delay="50" data-aos-duration="1000"
      data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false" data-aos-anchor-placement="top-center">

      <div>
        <div *ngIf="isloged()" class="text-center">
          <button type="button" class="btn btn-success btn-sm" (click)="onOpenModal('add')"><a class="nav-link"
              style="color: aliceblue">Añadir
              Experiencia<span class="sr-only"> (current)</span>
            </a>
          </button>
        </div>
      </div>

      <ul class="row justify-content-center list-unstyled mt-3">

        <li class="col-10 card mb-5 rounded-3 font-monospace" *ngFor="let experience of experiences">

          <div class="row g-0">


            <div class="col-md-8">
              <div class="card-body">
                <h3 class="card-title display-5 text-center fs-5">{{experience.titleExp}}</h3>
                <hr>
                <p class="card-text fs-5">{{experience.descExp}}</p>
                <p class="fs-6"><span class="fw-bolder">Período:</span> {{experience.startDateExp}} -
                  {{experience.endDateExp}}</p>

              </div>
            </div>

            <a *ngIf="isloged()" (click)="onOpenModal('edit', experience)" class="btn text-primary tooltips "
              data-placement="top" data-toggle="tooltip" data-original-title="edit">
              <fa-icon [icon]="faPenToSquare">
              </fa-icon>
            </a>

            <a *ngIf="isloged()" (click)="onOpenModal('delete', experience)" class="btn text-danger  tooltips"
              data-placement="top" data-toggle="tooltip" data-original-title="delete">
              <fa-icon [icon]="faXmarkCircle">
              </fa-icon>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>


<!-------------MODAL AÑADIR------------>
<!--
<div class="modal fade" id="addExperienceModal" tabindex="-1" role="dialog" aria-labelledby="addExperienceModalLabel"
  aria-hidden="true">

  | <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addExperienceModalLabel"> Añadir Experiencia</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddExperience(addForm)">

          <div class="form-group">
            <label for="startDateExp"> Fecha de inicio</label>
            <input type="date" ngModel name="startDateExp" class="form-control" id="startDateExp"
              placeholder="Fecha de inicio" required />
          </div>

          <div class="form-group">
            <label for="endDateExp"> Fecha de fin</label>
            <input type="date" ngModel name="endDateExp" class="form-control" id="endDateExp" placeholder="Fecha de fin"
              required />
          </div>

          <div class="form-group">
            <label for="titleExp"> Nombre de la Empresa</label>
            <input type="text" ngModel name="titleExp" class="form-control" id="titleExp"
              placeholder="Nombre de la Empresa" required />
          </div>

          <div class="form-group">
            <label for="descExp"> Descripción</label>
            <input type="text" ngModel name="descExp" class="form-control" id="descExp"
              placeholder="Descripción del trabajo" required />
          </div>


          <div class="modal-footer">
            <button type="button" id="add-experience-form" class="btn btn-secondary" data-dismiss="modal">
              Cerrar
            </button>
            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">
              Añadir Cambios
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> -->


<!-------------MODAL EDITAR------------>
<!--
<div class="modal fade" id="editExperienceModal" tabindex="-1" role="dialog" aria-labelledby="experienceEditModalLabel"
  aria-hidden="true">

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="experienceEditModalLabel">
          Editar Experienca {{ editExperience?.titleExp }}
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm">

          <div class="form-group">
            <label for="startDateExp">Fecha de inicio</label>
            <input type="date" ngModel="{{ editExperience?.startDateExp }}" name="startDateExp" class="form-control"
              id="startDateExp" placeholder="Fecha de inicio" />
          </div>

          <div class="form-group">
            <label for="endDateExp">Fecha</label>
            <input type="date" ngModel="{{ editExperience?.endDateExp }}" name="endDateExp" class="form-control"
              id="endDateExp" placeholder="Fecha de fin" />
          </div>


          <input type="hidden" ngModel="{{ editExperience?.idExp }}" name="idExp" class="form-control" id="idExp"
            placeholder="" />




          <div class="form-group">
            <label for="titleExp">Nombre de la Empresa</label>
            <input type="text" ngModel="{{ editExperience?.titleExp }}" name="titleExp" class="form-control"
              id="titleExp" placeholder="Nombre de la Empresa" />
          </div>


          <div class="form-group">
            <label for="descExp">Descripción del trabajo</label>
            <input type="text" ngModel="{{ editExperience?.descExp }}" name="descExp" class="form-control" id="descExp"
              placeholder="Descripción del trabajo" />
          </div>

          <div class="modal-footer">
            <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">
              Cerrar
            </button>
            <button (click)="onUpdateExperience(editForm.value)" data-dismiss="modal" class="btn btn-primary">
              Salvar Cambios
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> -->


<!-------------MODAL ELIMINAR------------>
<!--
<div data-bs-toggle="modal" data-bs-target="#deleteModelLabel" class="modal fade" id="deleteExperienceModal"
  tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="experienceModelLabel">Eliminar Experiencia</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <p>
          ¿Quiere eliminar esta experiencia?
          {{ deleteExperience?.titleExp }}
        </p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          No
        </button>
        <button (click)="onDeleteExperience(deleteExperience!.idExp)" class="btn btn-danger" data-dismiss="modal">
          Si
        </button>
      </div>
    </div>
  </div>
</div> -->

<!--NOTIFICACION SIN EXPERIENCIAS-->
<div *ngIf="experiences?.length == 0" class="col-lg-12 col-md-12 col xl-12">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">No hay experiencias!</h4>
    <p>experiencias no encontradas</p>
  </div>
</div>
